<h1>About</h1>
<p class="about">Even if it is a large city riding a bike is often the best & fastest solution to reach your destination in Berlin.<br>Bike Berlin offers the best quality for the lowest price!</p>
