<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">Welcome to Bike Berlin</h1>
    <h2 class="display-6">Your source for used bikes in Berlin</h2>
    <%= image_tag("background1.png", class: "img-responsive img-fluid my-image") %>
  </div>
</div>
