<h1>Orders</h1>
<table>

  <tr>
    <th>Order</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <% @orders.each do |order| %>

    <tr>
      <td>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </td>
      <td><%= order.product.description %></td>
      <td><strong>$ <%= order.product.price %></strong></td>
    </tr>

  <% end %>

</table>
