// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-ban:before {
  display: inline-block;
  margin-left: 10px;
}

.glyphicon:hover {
  background-color: #F7F7F7;
}

.fa-ban:hover {
  font-size: 120%;
  color:red;
}
