th,
td {
  font-size: 80% !important;
  padding: 10px !important;
}

td a {

  &:link,
  &:visited {
    display: inline-block;
  }

  &:hover,
  &:active {
    color: #5FC325 !important;
    background-color: transparent;
    text-decoration: none;
  }

}

h2 {
  margin: 80px 0 40px 0 !important;
}

ul {
  li {
    font-size: 150%;
    list-style: none;
    display: block;
    margin: 10px;
  }
}
