// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th,
td {
  font-size: 80%;
  padding: 10px;
}

.new:link,
.new:visited {
  display: inline-block;
  margin: 40px;
  color: white !important;
  border: 1px solid #5FC325;
  background-color: #5FC325;
  padding: 10px;
  border-radius: 5px;
}

.new:hover,
.new:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

.actions {
  margin: 40px 0px;
  font-size: 80%;
}

.actions input {
  background-color: #47C0E5;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

form {
  margin: 10px 10px 40px 10px;
}

.back:link,
.back:visited,
.edit:link,
.edit:visited,
.show:link,
.show:visited {
  display: inline-block;
  margin: 10px;
  color: black !important;
}

.edit:link,
.edit:visited {
  margin-left : 0px;
}

.back:hover,
.back:active,
.edit:hover,
.edit:active,
.show:hover,
.show:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

.edit-product:link,
.edit-product:visited {
  margin: 10px;
  color: black !important;
  font-size: 70%;
}

.edit-product:hover,
.edit-product:active {
  color: #5FC325 !important;
  background-color: transparent;
  text-decoration: none;
}

.notice {
  margin: 80px 20px 20px 20px;
}

.box {
  border: 1px solid black;
  margin: 20px 40px;
  padding: 10px;
}

.box p {
  margin: 15px 0px;
}

.price {
  border-top: 1px solid black;
  padding-top: 10px;
}

.box h6 {
  color: #5FC325;
}

.box .img-fluid {
  display: block;
  height: 250px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #002632;
}

.form p:last-child {
  font-size: 110%;
}

.fa-comment-dots {
  font-size: 200%;
  color: #5FC325;
}
